@media only screen and (min-width: 768px) {
    .ui.huge.input .small-input {
        width: 320px;
    }
    .logo {
        width: 15%;
    }
    .nav-bar{
        height: 8%;
    }
    .logo-search{
        margin-top:2%;
    }
} 