@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    .ui.huge.input .small-input {
        width: 320px;
    }
    .logo {
        width: 15%;
    }
    .nav-bar{
        height: 8%;
    }
    .logo-search{
        margin-top:2%;
    }
} 

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    .nav-bar{
        margin-top: 2%;
    }
    .logo-search{
        width: 83%;
    }
    .main-search{
        position: relative;
        top: 30%;
    }
    .main-logo{
        width:25%;
    }
    .search-div{
        width: 85%;
        height: 100px;
    }
    .ui.massive.input {
        height: 100%;
            input{
                height:100%;
            }
    }
    .ui.big.button{
        height: 100px;
    }
    .outer {
        width: 85%;
        margin: 0 auto;
    }
    .ui[class*="four column"].grid>.column{
        width: 50%;
    }
} 